.cart_section {
  padding: 2rem;

  display: flex;

}

.cart_product_section {
  flex: 3;
  max-height: 100vh;
  overflow-y: scroll;
}

.cart_page {
  display: flex;
  max-height: 300px;
  font-size: 1rem;
  gap: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  

  .product_image{
    flex: 1;
    text-align: center;
    justify-content: center;
    max-height: 300px;

  }
  .product_details{
    flex: 3;
  }


  img {
    height: 100%;
    max-width: 250px;
    object-fit: cover;
  }

  .product_details {
    p {
      width: 90%;
      margin-top: 1rem;
    }
  }

  .rating {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
}

.order {
  width: 400px;
  display: flex;
  flex-direction: column;

  &_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0rem;
  }
  button {
    width: 50%;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
  }
}
.remove{
    visibility: hidden;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 0, 0, 0.807);

}
.cart_page:hover .remove{
    visibility: visible;
}

.green {
  color: rgb(10, 216, 10);
}

.empty_cart{
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  .file_icon{
    font-size: 4rem;
  }
}